<div *ngIf="!name; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <div class="form-container">
            <div class="row columns">
                <h1>Contact Form</h1>
                <label>First Name
                         <input type="text" formControlName="firstname">
                    </label>
                <div class="alert" *ngIf="!rForm.controls['firstname'].valid && rForm.controls['firstname'].touched">{{ alert }}</div>

                <label>Last Name
                       <input type="text" formControlName="lastname">
                    </label>
                <div class="alert" *ngIf="!rForm.controls['lastname'].valid && rForm.controls['lastname'].touched">{{ alert }}</div>

                <label>Email
                  <input type="text" formControlName="email">
                </label>
                <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ alert }}</div>

                <label>Message
                         <textarea  formControlName="Message"></textarea>
                    </label>

                <div class="alert" *ngIf="!rForm.controls['message'].valid && rForm.controls['message'].touched">You must specify a description that's between 30 and 500 characters.</div>

                <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
            </div>
        </div>
    </form>
</div>

<ng-template #forminfo>
    <div class="form-container">
        <div class="row columns">
            <h1>{{ firstname }}</h1>

            <p>{{ message }}</p>
        </div>
    </div>
</ng-template>